@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
header {
    position: fixed;
    top: 0px;
    width: 100%;
    
    height: 19px;
    padding: 25px 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: black;
    opacity: 0.7;
    
    z-index: 5;
  }
header h3{
    margin-right: 2rem;
    color: white;
    
    text-decoration: none;
  }
#welcome-section {
    width: 100%;
    height: 100vh;
    
    position: absolute;
    top: 10vw;
    left: 0vw;
    z-index: 2;
  }
  
#welcome-section h1{
    text-align: left;  
    font-size: 3vw;
    color: silver;
    
    position: absolute;
    top: 5vw;
    left: 7vw;
  }
  
#welcome-section h2{
    text-align: left;  
    font-size: 4vw;
    color: black;
    
    position: absolute;
    top: 10vw;
    left: 7vw;
    
    border-bottom: 1px solid gray; 
    padding-bottom: 3px;
    border-bottom-width: 1px; 
    
    word-spacing: 2px;
    letter-spacing: 5px;
  }
#projects {
    width: 100%;
    height: auto;
    
    position: absolute;
    top: 46vw;
    left: 0vw;
    z-index: 2;
  }
  
  #projects h3{
    text-align: left;  
    font-size: 3vw;
    color: white;
    
    position: absolute;
    top: 2vw;
    left: 2vw;
    
    border-bottom: 1px solid #40e0d0; 
    border-bottom-width: 1px; 
    
    word-spacing: 2px;
    letter-spacing: 5px;
  }
  
  #projectsbar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 44vw;
    left: 2vw;
    
    width: 100%;
    height: auto;
  
    font-size: 3vw;
    word-spacing: 2px;
    letter-spacing: 5px;
  }
  
  #projectsbar a{
    margin-right: 11vw;
    margin-left: 11vw;
    color: silver;
    
    text-decoration: none;
    z-index: 2;
  }
  
  #projectsbar a:hover{
    margin-right: 11vw;
    margin-left: 11vw;
    color: #40e0d0;
    
    font-weight: bold;
    z-index: 2;
  }

@media only screen and (max-width: 800px) 
{
    header {
    position: absolute;
    top: 0px;
    width: 100%;

    height: 2vw;
    padding: 25px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    opacity: 0.7;

    z-index: 5;
    font-size: 2vw;
  }
  
  #VD_logo {
  width: 12vw;
  }

#welcome-section h2{
  font-size: 3.5vw;
}


